In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category", "subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=2, expand=True)
crowdfunding_info_df.head(10)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,5650,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [6]:
# Get the unique categories and subcategories in separate lists.
category = crowdfunding_info_df["category"].unique()
subcategory = crowdfunding_info_df["subcategory"].unique()

print(category)
print(subcategory)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(category))
print(len(subcategory))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ["cat"+str(x) for x in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = ["subcat"+str(x) for x in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({"category_id": cat_ids, "category":category})

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({"subcategory_id": scat_ids, "subcategory":subcategory})

In [11]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [12]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.

campaign_df.rename(columns= {"blurb": "description", 
                             "launched_at": "launched_date",
                             "deadline": "end_date" }, inplace =True)
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [16]:
campaign_df.dtypes

cf_id                       int64
contact_id                  int64
company_name               object
description                object
goal                        int64
pledged                     int64
outcome                    object
backers_count               int64
country                    object
currency                   object
launched_date               int64
end_date                    int64
staff_pick                   bool
spotlight                    bool
category & sub-category    object
category                   object
subcategory                object
dtype: object

In [17]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df["goal"] = campaign_df["goal"].astype(float)
campaign_df["pledged"] = campaign_df["pledged"].astype(float)

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [18]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launched_date                int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [19]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df["launched_date"] = pd.to_datetime(campaign_df["launched_date"], unit="s").dt.date
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], unit="s").dt.date

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [20]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

campaign_merged_df = campaign_df.merge(category_df, on="category", how="left").merge(subcategory_df, on= "subcategory", how="left")

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,2021-06-09,2021-06-18,False,True,film & video/drama,film & video,drama,cat5,subcat7
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,2020-12-09,2021-05-26,False,True,music/rock,music,rock,cat2,subcat2
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,2020-06-14,2021-02-09,False,True,film & video/drama,film & video,drama,cat5,subcat7
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03,2021-07-08,False,True,photography/photography books,photography,photography books,cat8,subcat15
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,2021-11-15,2021-12-07,False,True,publishing/translations,publishing,translations,cat6,subcat19
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29,2021-05-30,False,True,food/food trucks,food,food trucks,cat1,subcat1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15,2021-11-30,False,False,theater/plays,theater,plays,cat4,subcat4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06,2021-12-10,False,False,theater/plays,theater,plays,cat4,subcat4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08,2021-04-11,False,True,music/indie rock,music,indie rock,cat2,subcat8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30,2021-08-18,False,False,food/food trucks,food,food trucks,cat1,subcat1

In [21]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df.drop(columns= ['staff_pick',
 'spotlight',
 'category & sub-category',
 'category',
 'subcategory'], axis=1)
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4

In [22]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [23]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [24]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json

new_list = {}
new_list["contact_id"] = []
new_list["name"] = []
new_list["email"] = []
# add all the colum names as keys to the dict
for i, row in contact_info_df.iterrows():
    person_object = json.loads(row[0])
    #print(person_object)
    new_list["contact_id"].append(person_object["contact_id"])
    new_list["name"].append(person_object["name"])
    new_list["email"].append(person_object["email"])

# Print out the list of values for each row.
print(new_list)

{'contact_id': [4661, 3765, 4187, 4941, 2199, 5650, 5889, 4842, 3280, 5468, 3064, 4904, 1299, 5602, 5753, 4495, 4269, 2226, 1558, 2307, 2900, 5695, 5708, 1663, 3605, 4678, 2251, 6202, 3715, 4242, 4326, 5560, 4002, 3813, 5336, 4994, 1471, 4482, 3241, 3477, 2265, 5911, 2288, 4064, 1294, 5008, 3604, 3263, 5631, 2851, 3714, 1664, 5027, 3070, 4248, 2034, 4085, 3569, 3889, 3136, 2103, 2329, 3325, 3131, 4995, 3631, 5373, 3126, 2194, 2906, 2611, 2374, 3254, 3571, 2812, 3961, 3872, 4736, 5119, 5725, 4037, 2109, 3283, 6181, 3251, 3443, 2988, 1673, 2085, 1672, 4426, 3211, 3190, 2081, 3185, 5044, 1883, 2067, 4604, 3203, 5758, 5755, 5150, 4181, 3006, 4865, 2862, 6070, 5300, 3486, 5989, 2849, 1612, 3307, 5288, 6026, 2212, 4591, 2771, 5682, 5368, 3706, 4034, 3209, 2384, 3074, 2031, 5873, 5501, 3489, 4210, 6151, 6047, 5445, 5493, 6036, 2368, 1501, 4351, 3096, 6162, 1433, 2720, 5251, 1797, 1656, 1346, 2989, 5629, 3456, 3229, 2277, 1276, 3694, 2260, 5374, 4420, 3849, 1638, 5230, 1763, 4323, 5256, 4836, 5981, 1463, 4577, 4951, 3567, 5475, 2114, 5216, 1665, 6051, 3983, 2966, 4478, 4238, 4404, 5666, 3691, 2703, 4253, 5652, 3279, 3233, 3017, 3482, 2166, 4146, 2651, 1409, 3717, 3963, 2152, 2974, 1268, 1822, 5066, 5075, 3855, 5923, 1867, 4376, 2785, 5884, 2441, 1243, 3411, 2467, 1850, 2604, 1693, 2969, 1544, 4149, 3463, 2939, 2202, 1728, 5362, 4840, 2955, 5354, 3847, 3025, 1615, 5154, 5005, 1349, 3670, 2912, 4336, 5576, 2736, 3321, 3353, 2336, 4369, 4464, 5626, 1669, 5544, 6078, 2580, 3592, 4914, 3848, 2619, 4605, 6147, 1383, 1757, 4390, 4165, 4529, 6084, 2916, 2005, 2261, 5342, 4087, 2761, 2908, 2155, 5642, 6217, 4222, 4798, 5660, 5000, 2809, 3349, 3647, 5745, 2583, 5441, 2090, 3386, 1816, 4718, 1677, 4218, 4548, 1431, 2830, 4400, 5773, 4161, 2062, 3458, 3174, 5565, 1906, 5479, 4320, 4213, 3373, 4184, 5472, 5559, 5419, 4171, 1302, 3520, 6010, 4617, 1417, 4770, 4328, 5171, 4394, 1794, 3510, 2487, 2215, 4136, 3723, 5842, 3289, 1249, 5409, 2951, 3432, 2297, 6161, 4603, 5818, 4270, 6007, 4084, 1340, 5675, 2010, 6201, 1791, 3314, 5852, 4618, 2618, 4967, 4594, 2080, 2793, 4890, 3528, 5810, 5720, 4593, 3186, 5136, 2646, 3460, 4345, 2690, 4025, 4524, 3978, 3910, 5825, 3564, 2396, 2140, 3079, 2017, 5444, 2216, 1241, 1484, 3475, 4333, 5657, 2527, 5967, 5698, 3331, 3841, 6105, 3895, 1891, 1281, 4186, 2511, 4272, 3533, 3618, 2177, 4102, 6089, 4701, 5645, 4499, 3365, 2290, 1890, 1304, 3799, 2749, 2028, 2383, 5721, 1394, 3451, 5512, 2453, 6055, 5704, 3707, 2205, 5976, 3290, 4257, 4588, 4785, 3033, 2779, 2131, 6229, 3429, 1613, 4734, 4439, 1441, 5799, 1419, 3059, 3224, 3181, 6061, 4466, 6081, 2159, 3324, 3176, 5874, 5110, 5490, 1922, 4398, 4754, 3309, 1244, 2892, 2777, 4952, 5144, 5487, 1932, 3364, 5165, 3858, 4666, 2896, 4520, 5726, 5661, 4765, 3710, 4925, 1533, 5264, 4606, 2043, 3871, 6205, 3193, 1810, 4797, 1487, 3474, 5771, 6074, 1568, 4263, 5850, 5619, 1904, 5388, 2150, 2653, 2687, 3779, 1494, 4129, 3035, 2069, 5469, 3903, 4083, 4003, 3565, 1640, 4769, 3398, 1865, 5690, 3814, 2942, 5095, 2878, 3697, 4744, 2104, 4883, 4807, 1372, 3666, 2066, 1834, 5853, 2219, 4148, 4477, 1786, 3455, 5707, 5470, 3274, 4613, 4465, 1652, 2100, 4321, 4168, 3733, 2594, 3909, 5179, 2228, 6222, 2354, 1725, 2960, 2077, 5662, 3481, 2565, 4436, 5072, 5200, 4502, 4945, 3012, 6094, 3815, 4838, 3469, 4874, 1792, 4356, 6196, 3578, 4491, 3054, 1968, 5869, 5858, 5203, 2577, 3216, 2037, 3867, 5109, 1376, 5260, 2350, 2269, 3650, 3934, 4048, 4266, 3863, 4922, 4517, 3259, 3123, 3870, 2996, 2993, 4556, 2326, 4109, 5739, 5887, 1651, 1628, 2642, 6020, 4747, 5534, 4790, 4632, 1952, 4388, 5529, 1316, 1670, 4909, 3401, 4619, 4722, 2188, 5497, 5711, 4076, 1847, 2816, 5019, 4869, 3613, 3069, 2601, 2133, 3164, 3897, 5663, 3879, 5900, 2272, 5436, 3676, 4676, 1563, 4349, 1658, 2552, 4847, 1553, 2632, 1908, 5801, 1935, 2609, 2740, 1907, 1831, 5177, 6179, 2917, 1486, 3735, 3838, 2430, 2480, 3431, 1742, 4628, 2385, 2213, 5188, 3418, 5637, 3530, 3731, 3219, 2392, 5103, 3992, 2442, 2913, 1631, 4073, 4568, 1830, 2623, 4327, 3713, 2389, 5141, 3522, 1334, 4721, 3768, 1639, 5149, 2153, 2767, 5124, 2097, 4796, 5849, 1495, 2462, 2280, 1877, 6108, 4427, 2881, 2339, 5156, 4750, 4852, 5734, 3801, 4474, 1992, 5796, 1373, 1879, 3072, 4561, 5201, 5871, 3041, 5864, 3999, 4849, 5461, 5946, 4508, 5096, 5443, 2165, 2125, 6141, 5245, 2190, 2243, 3336, 3305, 6191, 1326, 6159, 2003, 5881, 1918, 2157, 3149, 2444, 6207, 5580, 5942, 1592, 2344, 5995, 5022, 5991, 4020, 6028, 2790, 4033, 1261, 1979, 2122, 4506, 3016, 3272, 1375, 4014, 3199, 2184, 2170, 1478, 6163, 1889, 5912, 2537, 2118, 3234, 3842, 3032, 3238, 2059, 5238, 2578, 4789, 2357, 1235, 3558, 1707, 2842, 5318, 1620, 4998, 3111, 1424, 3244, 4643, 6132, 3790, 1312, 5686, 2111, 5685, 1905, 3271, 4178, 3275, 5713, 3339, 5585, 4407, 1941, 4690, 3607, 2670, 5261, 4121, 4620, 4630, 3440, 3572, 5306, 5122, 1368, 5370, 5636, 6033, 3599, 5566, 1873, 3904, 4453, 5481, 2987, 2431, 4158, 3753, 4391, 2026, 4547, 2798, 4732, 5126, 5151, 2134, 5786, 5515, 4530, 4088, 3667, 3286, 4804, 5768, 6098, 2508, 5779, 1717, 3368, 4265, 4455, 2940, 6144, 3657, 1537, 2116, 5102, 5815, 4250, 4533, 3329, 3606, 4749, 2222, 1939, 2456, 2794, 2648, 2545, 3273, 6155, 6064, 1729, 4969, 3402, 2810, 2217, 5140, 4497, 5100, 3390, 1926, 3264, 2573, 3628, 3826, 5983, 5678, 2093, 5333, 5139, 3173, 3333, 2262, 1531, 4881, 3928, 1803, 2321, 6234, 1422, 2660, 5361, 3420, 4337, 2338, 4140, 2373, 1344, 2141, 3415, 5696, 1798, 1657, 3651, 3574, 6063, 2404, 2705, 5059, 5466, 5821, 5385, 3506, 5427, 6142, 2873, 3916, 1687, 1542, 3087, 3857, 5921, 3144, 2676, 3646, 1321, 1399, 3169, 2058, 1300, 2075, 2984, 4768, 3682, 5901, 3540, 2225, 1485, 5343, 5594, 2482, 2706, 4861, 2961, 3043, 6103, 4708, 4395, 4912, 2030, 5235, 5001, 4093, 2576, 6122, 2813, 3737, 2803, 5508, 3850, 4220, 4532, 6013, 3396, 4401, 2981, 4467, 1377, 5036, 5761, 3699, 4519, 5395, 3057, 2741, 1675, 2712, 4527, 1722, 4330, 5219, 4997, 2239, 4587, 4113, 4762, 5242, 5765, 2185, 5500, 3494, 3924, 3521, 5262, 3684, 5784, 1498, 6073, 4939], 'name': ['Cecilia Velasco', 'Mariana Ellis', 'Sofie Woods', 'Jeanette Iannotti', 'Samuel Sorgatz', 'Socorro Luna', 'Carolina Murray', 'Kayla Moon', 'Ariadna Geisel', 'Danielle Ladeck', 'Tatiana Thompson', 'Caleb Benavides', 'Sandra Hardy', 'Lotti Morris', 'Reinhilde White', 'Kerry Patel', 'Sophie Antoine', 'Martha Girard', 'Stephanie King', 'Amanda Palmer', 'Lina Alcala', 'Itzel Murphy', 'Filippo Parry', 'Katelyn Cole', 'Brian Novak', 'Cilly Gay', 'Yolanda Snyder', 'Evelin Odonnell', 'Ingeborg Alba', 'Marina Madrid', 'Sheila Goodwin', 'Valeria Rich', 'Dustin Camacho', 'Amalia Marenzio', 'Gian Long', 'Stewart Hunt', 'Greca Ruiz', 'Gerald Olivera', 'Jaqueline Wallace', 'John Lane', 'Pero Joly', 'Chad Turner', 'Adam Zavala', 'Tyler Rivera', 'Jens Graham', 'Virginia Caetani', 'Martino Wagner', 'Martin Meyer', 'Marguerite Walls', 'Peter Vogt', 'Nicholas Christian', 'Susi Steinberg', 'Tammy Ramazzotti', 'Abdul Thomas', 'Justin Luxardo', 'Antonio Gibson', 'Jeremy Gomez', 'Raymond Solorzano', 'Flora Harris', 'Cheryl Boyd', 'Rhys Leiva', 'Mariano Prieto', 'Laurie Fibonacci', 'David Rudolph', 'Bryan Ross', 'Ubaldo Brown', 'Clelia Faulkner', 'Sara Erickson', 'Rupert Valle', 'Puccio Kitzmann', 'Thomas Hutchinson', 'Abelardo Castro', 'Greco Walker', 'Miranda Lacombe', 'Diana Schuchhardt', 'Stacey Knox', 'Glen Faivre', 'Andrew Torres', 'Denny Fritz', 'Martyn Caldera', 'Abigail Foster', 'Anthony Hauffer', 'Roger Gerlach', 'Christopher Poirier', 'Branka Traore', 'Briana Etienne', 'Brandon Olson', 'Celia Ungaretti', 'Barbara Guibert', 'Daniela Bell', 'Phyllis Gurule', 'Alejandra Joseph', 'Giulio Bohlander', 'Amber Weller', 'Mary Etzold', 'Amy Georges', 'Jennifer Giraud', 'Rosie Peltier', 'Oreste Ward', 'Luis Edwards', 'Fiona Griffiths', 'Sally Raya', 'Carolyn Charpentier', 'Nathalie Alvarez', 'Abril Lowery', 'Ottone Sullivan', 'Esmeralda Sollima', 'Silvia Gierschner', 'Kyle Cunningham', 'Anel Carpentier', 'Sarah Davis', 'Luke Klein', 'Gudrun Mueller', 'Melissa Canali', 'Gabrielle Ayala', 'Laura Buckley', 'Wilfrido Lorch', 'Robert Bruder', 'Phillip Soliz', 'Alex Smith', 'Jessica Martinez', 'Kelly Carter', 'Ahmad Sosa', 'Toralf Iglesias', 'Irene Anichini', 'Alicia Cainero', 'Tracey Laboy', 'Donald Reynaud', 'Venancio Stadelmann', 'Seth Olivier', 'Dennis Boaga', 'Pedro Wilson', 'Roland Weihmann', 'Hector Morrison', 'Evangelos Peters', 'Gerardo Hamilton', 'Meta Cuzzocrea', 'Alma Raymond', 'Kathleen Solimena', 'Zacharie Cordier', 'Riza Techer', 'Enrique Guillen', 'Tristan Weeks', 'Natalie Lerma', 'Rodney Hamon', 'Adalberto Lombardo', 'Florencia Querini', 'Liam Rolland', 'Ian Kelly', 'Mehdi Todd', 'Rembrandt Liguori', 'Irmi Schweitzer', 'Gioffre Stein', 'Frida Villarreal', 'Steffen Mangold', 'Elias Marin', 'Roman Gonzalez', 'Reina Middleton', 'Sandro Moran', 'Gebhard Thanel', 'Antonino Bolander', 'Karl Trevisani', 'Silvester Brookes', 'Octavio Pratt', 'Rebecca Greer', 'Pierina Gaggini', 'Robin Schleich', 'Sergio Abbott', 'Gilberto Evans', 'James Elliott', 'Timoteo Bolnbach', 'Tonino Stanley', 'Margaretha Murialdo', 'Bianca Drubin', 'Kaylee Hoffmann', 'Teresa Vecellio', 'Emine Tacchini', 'Dawn Cortez', 'Emily Cundari', 'Eleanor Hall', 'Monique Delgadillo', 'Arnaude Warner', 'Jason Howell', 'Nicole Mccullough', 'Rosmarie Esquibel', 'Leonor Ferreira', 'Brett Jones', 'Nino Bien', 'Jemma Tate', 'Denis Rogers', 'Vanesa Khan', 'Victoria Ojeda', 'Eugenio Martin', 'Nancy Hayes', 'Lara Jacob', 'Gino Hernandez', 'Vicente Tijerina', 'Michele Brambilla', 'Dana Ritacca', 'Mitchell Bachmann', 'Vincenza Key', 'Salvador Gaillard', 'Diane Rogner', 'Josette Laine', 'Courtney Fiebig', 'Hugues Oliver', 'Espartaco Willis', 'Flavia Yoder', 'Casey Flores', 'Calogero Cross', 'Charles Begum', 'Adina Pollard', 'Natasha Lara', 'Benita Pottier', 'Elizabeth Valdivia', 'Mattia Huet', 'Geza Howard', 'Lauren Guillaume', 'Joanna Baxter', 'Tracy Metz', 'Birgit Pena', 'Elvira Papafava', 'Ernest Delorme', 'Christy Grossi', 'Hermelinda Olmos', 'Herbert Fraser', 'Giancarlo Heydrich', 'Constance Maldonado', 'Giampiero Carlier', 'Carlo Jacquot', 'Gabriel Robles', 'Gerd Gunpf', 'Ashley Hellwig', 'Patrick Rosas', 'Lilla Leonard', 'Tony Nicolas', 'Allegra Benedetti', 'Camille Tafuri', 'Juan Wheeler', 'Leopoldo Johnson', 'Dietmar Grenier', 'Leonid Scholl', 'Olivie Contarini', 'Jeffery Lacroix', 'Edeltraud Chavez', 'Mesut Morvan', 'Gregory Jackson', 'Nicola Rossi', 'Eddie Collazo', 'Philippe Gardner', 'Roy Fox', 'Heiderose Garcia', 'Claudine Rowley', 'Astrid Roht', 'Auguste Burnett', 'Pellegrino Allen', 'Angela Bowers', 'Michael Descamps', 'Heidelore Kennedy', 'Lucrezia Koch', 'Ivan Accardo', 'Karen Avogadro', 'Laetitia Gallet', 'Amico Gosselin', 'Ilaria Bowen', 'Marlen Coardi', 'Rafael Alexander', 'Herma Gabbana', 'Zachary Vespucci', 'Marisol Richard', 'Joseph Glover', 'Lauretta Neal', 'Simone Sauvage', 'Ramona Brooks', 'Gioele Schwital', 'Elena Jimenez', 'Pam Vargas', 'Alison Morales', 'Marc Aumann', 'Carla Butler', 'Dionigi Bruce', 'Frank Henry', 'Brent Pons', 'Patricia Liebelt', 'Micheletto Sykes', 'Rose Blanc', 'Vincent Singh', 'Jamie Peacock', 'Giorgia Dijoux', 'Serena Piacentini', 'Dimitri Posada', 'Alexa Barillaro', 'Megan Kuhl', 'Kaitlyn Farinelli', 'Jonathan Castellitto', 'Lisa Terragni', 'Olivier Petrucelli', 'Jos Trobbiani', 'Mirjam Dawson', 'Javier Tessier', 'Mirjana Collins', 'Vanessa Tschentscher', 'Antonina Cobb', 'Bernard Durand', 'Corey Greggio', 'Rodolfo Couturier', 'Pierre Cardenas', 'Romeo Surian', 'Ivo Moreno', 'Federico Marie', 'Maggie Boito', 'Brianna Hanson', 'Heiko Bourgeois', 'Benito Gritti', 'Mitzy Junk', 'Samantha Lowe', 'Ernesto Nerger', 'Melinda Canova', 'Mohammad Hartung', 'Ben Maillot', 'Isabel Pruschke', 'Linda Franceschi', 'Olivia Striebitz', 'Penny Watson', 'Manfred James', 'Hazel Pierce', 'Alf Bates', 'Scott Gough', 'Konrad Briones', 'Mathilde Kruschwitz', 'Irma Gemito', 'Antoine Guyon', 'William Gibilisco', 'Judith Butte', 'Joanne Henderson', 'Ludovica Arellano', 'Catherine Gray', 'Franco Fioravanti', 'Heather Zimmer', 'Hortense Taylor', 'Livia Ernst', 'Toby Etzler', 'Ennio Leoncavallo', 'Philippine Vaca', 'Rhonda Phillips', 'Alphonse Nitto', 'Karina Arreola', 'Denise Wood', 'Burghard Rosenow', 'Friedl Powell', 'Benjamin Schultz', 'Rachel Ulibarri', 'Silvano Blanchet', 'Kurt Sauer', 'Nayeli Gehringer', 'Imelda Guerin', 'Zbigniew Holmes', 'Adela Alfonsi', 'Hilary Clark', 'Kornelius Molina', 'Christian Anderson', 'Francisco Dorsey', 'Walli Albert', 'Siegrun Mota', 'Alberico Herve', 'Serafina Bonnin', 'Marcelle Bender', 'Hartmuth Robertson', 'Herlinde George', 'Pamela Payne', 'Gastone Beyer', 'Lydia Berengario', 'Lucy Davidson', 'Franck Wade', 'Heidi Barker', 'Arnaldo Ocasio', 'Francis Bernier', 'Johanne Strong', 'Debra Langlois', 'Reingard Kambs', 'Mauro Ortiz', 'Griselda Carranza', 'Janet Madrigal', 'Jenna Day', 'Modesto Wright', 'Alice Wall', 'Brenda Sontag', 'Sergius Mace', 'Antonia Kline', 'Maurice Gumprich', 'Daniel Anders', 'Zaira Cattaneo', 'Alessio Bruneau', 'Gerdi Guerrero', 'Brigitte Stiebitz', 'June Sinisi', 'Carl Macias', 'Veronica Trapp', 'Frances Garnier', 'Terri Iannelli', 'Odette Moore', 'Mercedes Trujillo', 'Babette Dumas', 'Jerry Santiago', 'Ronald Simpson', 'Emmanuel Dominguez', 'Christiane Ricciardi', 'Ingolf Zamora', 'Rita Sharp', 'Geraldine Cabrera', 'Chantal Armas', 'Louis Gilbert', 'Michelle Collier', 'Guillermina Nicholson', 'Bertrand Hopkins', 'Alonso Palomo', 'Tina Rodriguez', 'Eva Francis', 'Ottavio Rust', 'Amelia Olvera', 'Paul Palladio', 'Bernardo Wieloch', 'Umberto Hicks', 'Janko Bishop', 'Jessika Meunier', 'Isaac Benard', 'Alexandrie Lambert', 'Roberto Guyot', 'Giulietta Lucas', 'Damaris Pininfarina', 'Fabrizia Renard', 'Camillo Dehmel', 'Ruggero Parpinel', 'Stephen Pratesi', 'Ludger Naccari', 'Meryem Tapia', 'Jasmine Juvara', 'Victoire Travaglia', 'Adrian Noel', 'Marvin Howe', 'Hanne Kidd', 'Donatello Millet', 'Eloisa Pascarella', 'Erica Zambrano', 'Paula Canales', 'Claudia Bernard', 'Paulina Miller', 'Kathrin Godfrey', 'Pina Passalacqua', 'Julien Miles', 'Suzanne Benigni', 'Annalisa Pugh', 'Mathew Maestas', 'Laszlo Vallee', 'Helen Polanco', 'Mateo Sorrentino', 'Eric Barnes', 'Dragica West', 'Antje Voisin', 'Stanley Mills', 'Brandy Meraz', 'Conor Reinhardt', 'Gabino Blot', 'Alvaro Lemus', 'Patrizia Wilms', 'Metin Coulon', 'Reece Valencia', 'Troy Schmiedecke', 'Wendy Bustos', 'Guglielmo Caldwell', 'Travis Cowan', 'Brandi Abbagnale', 'Hanno Gollum', 'Jutta Burke', 'Dorothe Paz', 'Desiree Huerta', 'Ilse Bray', 'Pierpaolo Scaduto', 'Amedeo Bradford', 'Julia Ali', 'Catalina Pizzetti', 'Dylan Porzio', 'Iris Trincavelli', 'Johnathan Guidotti', 'Walburga Vollbrecht', 'Kendra David', 'Aleksandr Weiss', 'Cornelio Guardado', 'Ferdi Blackburn', 'Bill Gallagher', 'Leonard Harvey', 'Milan Montenegro', 'Philip Perez', 'Kathryn Hentschel', 'Xavier Samson', 'Hartwig Roberts', 'Kimberly Chan', 'Lorraine Crawford', 'Maximiliano Knowles', 'Gabriella Avila', 'Rico Mortati', 'Gail Petrocelli', 'Liberto Niemeier', 'Luciana Petitjean', 'Ron Cavazos', 'Aldo Cibin', 'Alexandre Serrano', 'Lori Fagotto', 'Perla Figueroa', 'Reginald Hughes', 'Uriel Holt', 'Stefano Lemonnier', 'Madeleine Cooper', 'Alban Barbier', 'Alfonso Finetti', 'Ryan Kim', 'Augustin Wohlgemut', 'Rolando Bibi', 'Berthold Randall', 'Genaro Briand', 'Rudolf Jenkins', 'Pauline Ackermann', 'Folker Swanson', 'Ashleigh Montez', 'Liliana Barber', 'Caridad Carr', 'Lolita Borrego', 'Gunar Patrick', 'Leokadia Verdier', 'Hanna Reid', 'Edelgard Kreusel', 'Svenja Perrin', 'Pierluigi Taccola', 'Cilli Watts', 'Emiliano Wells', 'April Davids', 'Dolores Didier', 'Sylvia Bonomo', 'Nelly Marsh', 'Beth Miniati', 'Renee Merino', 'Hailey Russell', 'Raphaela Gotthard', 'Pomponio Comencini', 'Leone Richardson', 'Valentine Acosta', 'Ricciotti Laureano', 'Jacques Heidrich', 'Anne Snow', 'Sonia Volta', 'Dale Leblanc', 'Alejandro Cruz', 'Elsa Cugia', 'Geronimo Pechel', 'Melania Klemm', 'Katherine Cooley', 'Guillermo Larsen', 'Jill Barrios', 'Austin Musatti', 'Jacinto Rose', 'Lucie Redi', 'Tania Chapman', 'Alexandria Best', 'Edward Scott', 'Jake Wiley', 'Claudio Reuter', 'Laure Traetta', 'Magarete Valentin', 'Paige Hill', 'Fulvio Curiel', 'Thibaut Camarillo', 'Romana Blanchard', 'Thibault Savorgnan', 'Alexander Pausini', 'Pierangelo Scholtz', 'Emmanuelle Keller', 'Isabella Deleon', 'Timothy Weitzel', 'Alfredo Ingram', 'Francesca Kade', 'Tonia Coleman', 'Gottfried Barbe', 'Jeffrey Trommler', 'Giacobbe Owens', 'Conchita Pagliaro', 'Kevin Delahaye', 'Rouven Ovadia', 'Piermaria Laporte', 'Karolin Johann', 'Steven Folliero', 'Livio Rosselli', 'Gaetano Leonardi', 'Cynthia Robinson', 'Eleni Aponte', 'Noelia Romo', 'Evelyn Haynes', 'Katharine Zaccagnini', 'Lea Merle', 'Marta Huynh', 'Amador Riley', 'Julie Coles', 'Beverley Telesio', 'Corinne Mitschke', 'Valerie Ortega', 'Carlos Delle', 'Christina Besnard', 'Rosario Jacques', 'Celal Fischer', 'Leonardo Guzman', 'Clinton Mason', 'Loretta Mallet', 'Lorenzo Roero', 'Lando Gutierrez', 'Elaine Patterson', 'Marcella Govoni', 'Ettore Amaldi', 'Rufino Gallegos', 'Georges Richards', 'Janice Infantino', 'Svetlana Montanariello', 'Agnolo Cedillo', 'Hannah Jockel', 'Yvonne Stout', 'Anouk Pace', 'Esteban Valdez', 'Angelina Davies', 'Anastasie Cadena', 'Hansjoachim Lettiere', 'Yeni Tejada', 'Dulce Adinolfi', 'Sean Mielcarek', 'Omar Fonseca', 'Henry Gucci', 'Samira Bottaro', 'Korinna Arnold', 'Marcela Ferrante', 'Douglas Amaya', 'Katherina Barrientos', 'Brittany Tran', 'Caroline Reeves', 'Joe Michaud', 'Marco Vittadello', 'Kim Webb', 'Eugenia Zichichi', 'Aurore Rosemann', 'Giustino Luzi', 'Anita Galindo', 'Gunhild Carrillo', 'Rosa Paul', 'Marliese Oneal', 'Bethany Hartmann', 'Irina Martineau', 'Beatriz Moulin', 'Lucas Austin', 'Carole Nohlmans', 'Bozena Schmitt', 'Aimee Foconi', 'Marzena Carrero', 'Raisa Poulain', 'Marcantonio Bennett', 'Kenneth Hurst', 'Marisela Mende', 'Blanka Villareal', 'Tomislav Stoppani', 'Krystal Ammaniti', 'Deanna Aporti', 'Donatella Burns', 'Margrit Hooper', 'Baccio Marcacci', 'Alfio Roman', 'Soledad Soto', 'Josh Cimarosa', 'Nath Rico', 'Gary Armani', 'Miriam Oquendo', 'Monica Mohaupt', 'Alec Ho', 'Harry Fouquet', 'Arcelia Babati', 'Trinidad Vespa', 'Colette Ryan', 'Richard Andre', 'Ellinor Leclercq', 'Patricio Guillon', 'Kirsten Chindamo', 'Leo Petruzzi', 'Margot Tomaselli', 'Ansaldo Marks', 'Regina Morin', 'Karla Medici', 'Morgan Irizarry', 'Natividad Wong', 'Anna Freeman', 'Emilia Vivaldi', 'Gerda Cook', 'Andrey Faure', 'Charlotte Duke', 'Cindy Castillo', 'Hiltrud Thibault', 'Kasimir Jaime', 'Sabine Lachmann', 'Andrea Arroyo', 'Matthew Velasquez', 'Severino Linares', 'Swantje Lomeli', 'Marcus Espino', 'Allen Gates', 'Mauricio Saunders', 'Gilbert Cornejo', 'Letizia Gulotta', 'Etta Gutknecht', 'Shelley Perry', 'Geoffrey Williams', 'Cory Stewart', 'Kristy Bartlett', 'Gianluca Beck', 'Guido Krein', 'Leif Monnier', 'Jonas Badoer', 'Devin Ebert', 'Slobodan Camiscione', 'Volkmar Gauthier', 'Jordan Rowe', 'Manon Daugherty', 'Estela Segovia', 'Giada Celentano', 'Clayton Salcedo', 'Raven Pinto', 'Lewis Lewis', 'Rochus Rousseau', 'Belinda Gamez', 'Angelo Lozano', 'Jorge Monti', 'Ricky Harrell', 'Adriano Wulf', 'Pompeo Bourdon', 'Kristie Garrett', 'Lodovico Conley', 'Jean Berthelot', 'Tadeusz Medina', 'Ruby Carriera', 'Theres Antonioni', 'Gloria Morton', 'Graziano Jensen', 'Gianpaolo Massey', 'Alain Farmer', 'Renato Murillo', 'Edda Ferraris', 'Luce Marty', 'Rotraud Mitchell', 'Israel Watkins', 'Nathan Jennings', 'Gavin Proietti', 'Emma Rios', 'Todd Douglas', 'Oscar Holsten', 'Ann Peron', 'Senta Grassi', 'Kata Mena', 'Gianfranco Hethur', 'Florentine Saraceno', 'Giuliano Bolzmann', 'Alwine Kostolzin', 'Giacinto Briggs', 'Holly Negrete', 'Mark Trapanese', 'Alyssa Brun', 'Cristina Chevalier', 'Shannon Lefevre', 'Logan Hornich', 'Rosalia Toro', 'Reiner Poerio', 'Valentina Pages', 'Enrico Fabre', 'Sevim Begue', 'Sonja Patberg', 'Christine Hiller', 'Maik Beasley', 'Elliot Santana', 'Eloy Renzi', 'Wolf Lutz', 'Giuseppe Lee', 'Angelica Cuellar', 'Bekir Normand', 'Carm

In [25]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

contact_info_df = pd.DataFrame(new_list)
contact_info_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [26]:
# Check the datatypes.
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [27]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 

contact_info_df[["first name","last name"]]= contact_info_df.name.str.split(expand=True)

# Drop the contact_name column

contact_info_df = contact_info_df.drop(columns= ['name'], axis=1)
contact_info_df.head(10)

   contact_id                         email first name last name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
5        5650      socorro.luna@hotmail.com    Socorro      Luna
6        5889    carolina.murray@knight.com   Carolina    Murray
7        4842           kayla.moon@yahoo.de      Kayla      Moon
8        3280     ariadna.geisel@rangel.com    Ariadna    Geisel
9        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [28]:
# Reorder the columns
contact_df_clean = contact_info_df[["contact_id", "first name", "last name", "email"]]
contact_df_clean.head(10)

   contact_id first name last name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [29]:
# Check the datatypes one more time before exporting as CSV file.
contact_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first name  1000 non-null   object
 2   last name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [30]:
# Export the DataFrame as a CSV file. 
contact_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [31]:
contact_info_df_re = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df_re.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [32]:
# Extract the four-digit contact ID number.
contact_info_df_re["contact_id"] = contact_info_df_re["contact_info"].str.extract(r'"contact_id": (\d{4})')
contact_info_df_re.head(10)

,contact_info,contact_id
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199
5,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650
6,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889
7,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842
8,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280
9,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468

In [33]:
# Check the datatypes.
contact_info_df_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [34]:
# Convert the "contact_id" column to an int64 data type.
contact_info_df_re["contact_id"]=contact_info_df_re["contact_id"].astype(int)
contact_info_df_re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [35]:
# Extract the name of the contact and add it to a new column.
contact_info_df_re["name"]=contact_info_df_re["contact_info"].str.extract(r'([A-Za-z]+\s[A-Za-z]+)')
contact_info_df_re.head(10)

,contact_info,contact_id,name
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz
5,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna
6,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray
7,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon
8,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel
9,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck

In [36]:
# Extract the email from the contacts and add the values to a new column.
contact_info_df_re["email"]=contact_info_df_re["contact_info"].str.extract(r'"(\S+\@\D+)"')
contact_info_df_re.head(10)

,contact_info,contact_id,name,email
0,"{""contact_id"": 4661, ""name"": ""Cecilia Velasco"", ""email"": ""cecilia.velasco@rodrigues.fr""}",4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,"{""contact_id"": 3765, ""name"": ""Mariana Ellis"", ""email"": ""mariana.ellis@rossi.org""}",3765,Mariana Ellis,mariana.ellis@rossi.org
2,"{""contact_id"": 4187, ""name"": ""Sofie Woods"", ""email"": ""sofie.woods@riviere.com""}",4187,Sofie Woods,sofie.woods@riviere.com
3,"{""contact_id"": 4941, ""name"": ""Jeanette Iannotti"", ""email"": ""jeanette.iannotti@yahoo.com""}",4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,"{""contact_id"": 2199, ""name"": ""Samuel Sorgatz"", ""email"": ""samuel.sorgatz@gmail.com""}",2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
5,"{""contact_id"": 5650, ""name"": ""Socorro Luna"", ""email"": ""socorro.luna@hotmail.com""}",5650,Socorro Luna,socorro.luna@hotmail.com
6,"{""contact_id"": 5889, ""name"": ""Carolina Murray"", ""email"": ""carolina.murray@knight.com""}",5889,Carolina Murray,carolina.murray@knight.com
7,"{""contact_id"": 4842, ""name"": ""Kayla Moon"", ""email"": ""kayla.moon@yahoo.de""}",4842,Kayla Moon,kayla.moon@yahoo.de
8,"{""contact_id"": 3280, ""name"": ""Ariadna Geisel"", ""email"": ""ariadna.geisel@rangel.com""}",3280,Ariadna Geisel,ariadna.geisel@rangel.com
9,"{""contact_id"": 5468, ""name"": ""Danielle Ladeck"", ""email"": ""danielle.ladeck@scalfaro.net""}",5468,Danielle Ladeck,danielle.ladeck@scalfaro.net

In [37]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contact_info_df_new = contact_info_df_re[['contact_id', 'name', 'email']]
contact_info_df_new.head(10)

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com
5        5650       Socorro Luna      socorro.luna@hotmail.com
6        5889    Carolina Murray    carolina.murray@knight.com
7        4842         Kayla Moon           kayla.moon@yahoo.de
8        3280     Ariadna Geisel     ariadna.geisel@rangel.com
9        5468    Danielle Ladeck  danielle.ladeck@scalfaro.net

In [38]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info_df_new[["first_name","last_name"]]=contact_info_df_new["name"].str.split(' ',expand=True)

# Drop the contact_name column
contact_info_df_new.drop(columns=["name"],axis=1,inplace=True)
contact_info_df_new.head(10)

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
5        5650      socorro.luna@hotmail.com    Socorro      Luna
6        5889    carolina.murray@knight.com   Carolina    Murray
7        4842           kayla.moon@yahoo.de      Kayla      Moon
8        3280     ariadna.geisel@rangel.com    Ariadna    Geisel
9        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [39]:
# Reorder the columns
contact_info_df_new = contact_info_df_new[["contact_id", "first_name", "last_name", "email"]]
contact_info_df_new.head(10)

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [40]:
# Check the datatypes one more time before exporting as CSV file.
contact_info_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       992 non-null    object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [41]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)